{
  "name": "Spice Road",
  "background": "{{ palette.bg }}",
  "foreground": "{{ palette.fg }}",
  "cursorColor": "{{ palette.cursor }}",
  "selectionBackground": "{{ palette.selection }}",
  "black": "{{ palette.black }}",
  "red": "{{ palette.red }}",
  "green": "{{ palette.green }}",
  "yellow": "{{ palette.yellow }}",
  "blue": "{{ palette.blue }}",
  "purple": "{{ palette.purple }}",
  "cyan": "{{ palette.cyan }}",
  "white": "{{ palette.white }}",
  "brightBlack": "{{ palette.brightBlack }}",
  "brightRed": "{{ palette.brightRed }}",
  "brightGreen": "{{ palette.brightGreen }}",
  "brightYellow": "{{ palette.brightYellow }}",
  "brightBlue": "{{ palette.brightBlue }}",
  "brightPurple": "{{ palette.brightPurple }}",
  "brightCyan": "{{ palette.brightCyan }}",
  "brightWhite": "{{ palette.brightWhite }}"
}